<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common">

    <!-- jQuery -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/jquery/dist/jquery.min.js'}"></script>
    <!-- Bootstrap -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/bootstrap/dist/js/bootstrap.min.js'}"></script>
    <!-- FastClick -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/fastclick/lib/fastclick.js'}"></script>
    <!-- NProgress -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/nprogress/nprogress.js'}"></script>
    <!-- Chart.js -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Chart.js/dist/Chart.min.js'}"></script>
    <!-- gauge.js -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/gauge.js/dist/gauge.min.js'}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js'}"></script>
    <!-- iCheck -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/iCheck/icheck.min.js'}"></script>
    <!-- Skycons -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/skycons/skycons.js'}"></script>
    <!-- Flot -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Flot/jquery.flot.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Flot/jquery.flot.pie.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Flot/jquery.flot.time.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Flot/jquery.flot.stack.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/Flot/jquery.flot.resize.js'}"></script>
    <!-- Flot plugins -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/flot-spline/js/jquery.flot.spline.min.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/flot.curvedlines/curvedLines.js'}"></script>
    <!-- DateJS -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/DateJS/build/date.js'}"></script>
    <!-- JQVMap -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/jqvmap/dist/jquery.vmap.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js'}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/moment/min/moment.min.js'}"></script>
    <script th:src="${#httpServletRequest.getContextPath() + '/static/vendors/bootstrap-daterangepicker/daterangepicker.js'}"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="${#httpServletRequest.getContextPath() + '/static/js/custom.min.js'}"></script>

</div>
</html>